.custom-navbar {
    background-color: var(--primary-blue);
    border-bottom: 3px solid var(--secondary-yellow);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.brand-title {
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0;
    line-height: 1.2;
}

.brand-subtitle {
    color: var(--secondary-yellow);
    font-size: 1rem;
    font-weight: 400;
}


.logo-container {
    display: flex;
    align-items: center;
    border-right: 2px solid var(--secondary-yellow);
    height: 50px;
}

.logo-img {
    max-height: 50px; 
    width: auto;
    display: block;
}

.btn-logout {
    background-color: transparent;
    border: 1px solid #dee2e6; /* Color suave para no desentonar */
    color: #dee2e6;
    font-weight: 500;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
    border-radius: 8px;
}

.btn-logout:hover {
    background-color: #f8f9fa;
    color: var(--primary-blue); /* Color sutil de alerta al pasar el ratón */
    border-color: var(--primary-blue);
}

/* Si usas Bootstrap Icons, asegúrate de tener el CDN o los archivos */
.bi-box-arrow-right {
    font-size: 1.1rem;
}