<nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container-fluid px-4">
        <a class="navbar-brand d-flex align-items-center" href="#">
            
            <div class="logo-container me-3 pe-3">
                <img src="/images/logo-san-cristan.png" 
                     alt="Logo Instituto Doctor Sacristán" 
                     class="logo-img">
            </div>

            <div class="d-flex flex-column justify-content-center">
                <h1 class="brand-title">Instituto Doctor Sacristán</h1>
                <span class="brand-subtitle">Gestor de Secuencias</span>
            </div>
        </a>
    </div>
</nav>
