<div class="card-row mb-3">
    <div class="row align-items-center g-0 h-100">

        <div class="col-md-2 ps-4">
            <img src="images/studentIMG.jpg" alt="student image" class="img-fluid rounded-circle student-image me-3" width="36px">
            <span class="align-middle fw-medium text-dark-blue fs-5">{{ student()?.name }} {{ student()?.lastName }}</span>
        </div>

        <div class="col-md-3">
            <span class="text-muted">{{ student()?.grade }}</span>
        </div>
        

        <div class="col-md-4 text-center">
            <span class="badge-steps">
                {{ student()?.assignedSequences }} Secuencias asignadas
            </span>
        </div>
        
        <div class="col-md-3 text-end pe-4">
            <app-action-buttons-component (onEdit)="editStudent(student()?.id)" (onDelete)="deleteStudent()"></app-action-buttons-component>
        </div>
        
    </div>
</div>