<div class="card-row mb-3">

    <div class="row align-items-center g-0 h-100">

        <div class="col-md-6 ps-4">
            <img src="images/studentIMG.jpg" alt="student image" class="img-fluid rounded-circle student-image me-3"
                width="36px">
            <span class="align-middle fw-medium text-dark-blue fs-5">{{ student()?.user!.name }} {{
                student()?.user!.last_name }}</span>
        </div>
        
        <div class="col-md-4 text-center">
            @if (loading) {
                <app-loading-component></app-loading-component>
            } @else {
                <span class="badge-steps">
                    {{ sequenceCount }} Secuencia{{ sequenceCount !== 1 ? 's' : '' }} asignada{{ sequenceCount !== 1 ? 's' :
                    '' }}
                </span>
            }
        </div>

        <div class="col-md-2 text-end pe-4">
            <app-action-buttons-component (onEdit)="editStudent()" (onAssignSequences)="assignSequences()"
                (onDelete)="deleteStudent()">
            </app-action-buttons-component>
        </div>

    </div>
</div>