<ng-template #modal let-modal>

    <div class="student-modal-content">
        <div class="modal-header border-bottom-0 pb-0">
            <div>
                <h5 class="modal-title fw-bold text-primary-blue">Nuevo Usuario</h5>
                <p class="text-muted mb-0">Información del usuario</p>
            </div>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()" [routerLink]="'/pruebas'"></button>
        </div>

        <app-user-form-component></app-user-form-component>

        <div class="modal-footer border-top-0 pt-4 pb-4 pe-4">
            <button type="button" class="btn btn-outline-secondary px-4 me-2" (click)="modal.close()" [routerLink]="'/pruebas'">Cancelar</button>
            <button type="button" class="btn btn-primary-blue px-4" (click)="sendData()">Guardar Cambios</button>
        </div>
    </div>
</ng-template>