<div class="card-row mb-2">
    <div class="row align-items-center g-0 h-100">

        <div class="col-md-3 ps-4">
            <span class="fw-medium text-dark-blue fs-5 text-limit">{{ sequence()?.title }}</span>
        </div>

        <div class="col-md-3">
            <span class="text-muted text-limit">{{ sequence()?.description }}</span>
        </div>

        <div class="col-md-2 text-center">
            <span class="text-muted">{{ sequence()?.category?.name }}</span>
        </div>

        <div class="col-md-2 text-center">
            <span class="badge-steps">
                {{ sequence()?.steps?.length }} Pasos
            </span>
        </div>

        <div class="col-md-2 text-end pe-4">
            <app-action-buttons-component (onDelete)="deleteSequence()" (onEdit)="modifySequence()" (onView)="viewSequence()" (onDuplicate)="duplicateSequence(sequence()!)"></app-action-buttons-component>
        </div>

    </div>
</div>