:host {
    display: block;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #EFF6FF, #EEF2FF);
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    --primary-blue: #1F3C8B;
    --input-bg: #E0E0E0;
}

/* Botón principal azul */
.btn-primary-blue {
    background-color: var(--primary-blue);
    color: white;
}
.btn-primary-blue:hover {
    background-color: #162e6b; /* Un azul un poco más oscuro */
    color: white;
}
