<div class="container py-5">

    @if (infoMessage) {
        <div>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ infoMessage }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    }

    <app-content-list-component (reload)="reloadContent()" [content]="content"></app-content-list-component>
    
    @if (content.contentList.length != 0) {
        <div class="pagination-container">
            <a href="#" class="page-arrow text-dark-blue"><i class="bi bi-arrow-left fs-4"></i></a>
            <div class="page-number active">1</div>
            <a href="#" class="page-arrow text-dark-blue"><i class="bi bi-arrow-right fs-4"></i></a>
        </div>
    }

</div>