<div class="container d-flex justify-content-center align-items-center mt-10">
    <div class="card shadow-lg p-4 w-100" style="max-width: 400px; border-radius: 15px;">
        <div class="text-center mb-4">
            <h2 class="fw-bold">Bienvenido</h2>
            <p class="text-muted">Introduce tus credenciales para acceder</p>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" class="form-control"
                    [class.is-invalid]="loginForm.get('email')?.touched && loginForm.get('email')?.invalid"
                    formControlName="email" placeholder="ejemplo@correo.com">
                <div class="invalid-feedback">
                    {{ getEmailErrorMessage() }}
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Contraseña</label>
                <input type="password" class="form-control"
                    [class.is-invalid]="loginForm.get('password')?.touched && loginForm.get('password')?.invalid"
                    formControlName="password" placeholder="••••••••">
                <div class="invalid-feedback">
                    La contraseña es obligatoria.
                </div>
            </div>

            <button type="submit" class="btn btn-primary w-100 py-2 mt-2" [disabled]="loginForm.invalid || isLoading">
                @if (isLoading) {
                    <span class="spinner-border spinner-border-sm me-2"></span>
                }
                <span>{{ isLoading ? 'Conectando...' : 'Entrar' }}</span>
            </button>
        </form>
    </div>
</div>