<div class="card-row mb-3">

    <div class="row align-items-center g-0 h-100">

        <div class="col-md-6 ps-4">
            <img src="images/studentIMG.jpg" alt="student image" class="img-fluid rounded-circle student-image me-3" width="36px">
            <span class="align-middle fw-medium text-dark-blue fs-5">{{ teacher()?.user!.name }} {{ teacher()?.user!.last_name }}</span>
        </div>

        <div class="col-md-4 text-center">
            @if (loading) {
                <app-loading-component></app-loading-component>
            } @else {
                <span class="badge-steps">
                    {{assignatedStudents}} Estudiantes asignados
                </span>
            }
        </div>
        
        <div class="col-md-2 text-end pe-4">
            <app-action-buttons-component (onEdit)="editTeacher()" (onAssignStudent)="assignStudent()" (onDelete)="deleteTeacher()">
        </app-action-buttons-component>
        </div>
        
    </div>
</div>