<ng-template #modal let-modal>

    <div class="student-modal-content">
        <div class="modal-header border-bottom-0 pb-3 background-primary-blue">
            <div>
                <h5 class="modal-title fw-bold">{{ functionality() == "modifyStudent" ? 'Modificar' : 'Nuevo' }} Alumno</h5>
            </div>
            <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="modal.dismiss()" [routerLink]="'/students'"></button>
        </div>

        <app-user-form-component [kind]="'student'"></app-user-form-component>

        <div class="modal-footer border-top-0 pt-2 pb-4 pe-4">
            <button type="button" class="btn btn-outline-secondary px-4 me-2 weight-500 color-black" (click)="modal.close()" [routerLink]="'/students'">Cancelar</button>
            <button type="button" class="btn btn-primary-blue px-4 weight-500" (click)="sendData()">{{ functionality() == "modifyStudent" ? 'Guardar Cambios' : 'Crear Alumno' }}</button>
        </div>
    </div>
</ng-template>