
/* Botón principal azul */
.btn-primary-blue {
    background-color: #2b4a87;
    color: white;
}
.btn-primary-blue:hover {
    background-color: #2b4a87; /* Un azul un poco más oscuro */
    color: white;
}

.background-primary-blue {
    background-color: #2b4a87;
    color: white;
}
